@model IEnumerable<IPG_v2._0.Models.Categorias>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <section class="ftco-section">
        <h1 class="text-white">Categoria</h1>

        <p>
            <a asp-action="Create" class="btn btn-success">Criar Nova Categoria</a>
        </p>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => categoria.Nome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@categoria.CategoriaId" class="btn btn-warning">Editar</a> |
                            <a asp-action="Details" asp-route-id="@categoria.CategoriaId" class="btn btn-info">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@categoria.CategoriaId" class="btn btn-danger">Apagar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </section>
    </div>
