@model IEnumerable<IPG_v2._0.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <section class="ftco-section">
        <h1 class=text-white>Cliente</h1>

        <p>
            <a asp-action="Create" class="btn btn-success">Criar Novo Cliente</a>
        </p>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ClienteId" class="btn btn-warning">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ClienteId" class="btn btn-info">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ClienteId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </section>
    </div>